.Hero {
  background-color: rgba(34, 31, 32, 0.561);
 background-image:url('../public/bbb-min.jpg') 
 ;

background-blend-mode: multiply;

background-repeat: no-repeat;
background-size:100% 100%;
background-position: top ;
background-size: cover;
width: 100%;

margin: 0 ;
padding: 0;
height:  100vh;
}


.Hero div img {
  width: 50rem;
}






.Text {
    display: flex;


    flex-direction: column;

width: 100%;
padding-left: 10rem;
    padding-top: 5rem; 
    
}

.Text h1 {
  font-family: 'ZCOOL XiaoWei', serif;
color: rgb(255, 102, 0);
  font-weight: 700;
  font-size: 10rem;

     text-shadow: 2px 2px rgba(0, 0, 0, 0.897);
     width: 70rem;
}

.Text p {
  color: white;
  font-weight: 600;
width: 40rem;
font-size: 20px;

  text-shadow: 2px 2px rgba(0, 0, 0, 0.897);
}

.Text button {
  outline: none;
  background-color: rgb(56, 54, 54);
  border: 3px solid rgb(255, 255, 255);
  color: white;
  font-size: 25px;
  padding:0.5rem 1rem;
   text-shadow: 2px 2px rgba(0, 0, 0, 0.897);
  transition: 0.3s;
  padding: 2px 2px;
  border-radius: 12px;
  width: 30rem;
}

.Text button:hover {
    color: white;
    background-color: black;
}



@media screen and (max-width: 900px) {
  .Hero{
    height: 70vh;
  }
    .Text h1 {
  font-family: 'ZCOOL XiaoWei', serif;
color: rgb(255, 102, 0);
  font-weight: 700;
  font-size: 5rem;

     width:40rem;
}

.Text button {
  width: 20rem;
   padding:0.1rem 0.5rem;
}
}

@media screen and (max-width: 700px) {

  .Text{

    overflow: hidden;
  }
  .Text h1 {
  font-family: 'ZCOOL XiaoWei', serif;
color: rgb(255, 102, 0);
  font-weight: 700;
  font-size: 5rem;

   width: 30rem;
}

.Text p {
  color: white;
  font-weight: 600;
width: 30rem;
font-size: 15px;

}




}
