.contain{

    justify-content: center;

}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  
     gap: 20px;
     align-items: center;
     position: relative;

     justify-content: center;
     box-sizing: border-box;
     align-items: center;
margin: 20px 20px 100px ;

}

.container div  {
    display: flex;
    flex-direction: column;

    width: 100%;
 transition: ease-in-out 0.2s;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.219);
}
.container div img{
 
    max-width:100%;
     height: 40rem;




 overflow: hidden;

    
}
.contain .text{

position: relative;

width: 100%;

}
.contain div h3 {
  
       padding: 0 0 0 10px;
    font-weight: 700;
    

}



.container div h4 {
    color: rgb(209, 72, 72);
    padding: 0 0 0 10px;
}

.container div h4 span {
    font-size: 15px;
    text-decoration: line-through;
    color: rgb(151, 148, 148);
    font-weight: 600;
    border-image: 20px red solid;

}

.base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    justify-content: center;
    gap:20px;
    width: 100%;
    height: 70vh;
   
background-color: rgb(224, 224, 224);
  
}

.base1 {
overflow: hidden;    
}
.base1 img {
   max-width: 100%;

}
.base2 {
  display: flex;
  flex-direction: column;
padding-top: 10rem;
margin-right: 10px;
  align-items: center;

}

.base2 h1 {
    color: rgb(255, 102, 0);
    font-weight: 600;
    font-size: 4rem;
    width: 30rem;

}

.base2  p {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.5rem;
    width:35rem;
    text-align: center;

}


@media screen and (max-width: 700px){
    .base{
    height: 70vh;
    justify-content: center;
    align-items: center;
    }

        .base1 {
      display: none;
        }

          .base2 {
      text-align: center;
      margin-bottom: 20rem;
        }
    .container div img{
 
    max-width:100%;
   

object-fit: cover;
 transition: ease-in-out 0.2s;
 display: block;
 overflow: hidden;

    
}
}

@media screen and (max-width: 400px) {
.base2 h1 {
    color: rgb(255, 102, 0);
    font-weight: 600;
    font-size: 3rem;
   width: 30rem;

}

.base2{
    padding-left: 20px;
        padding-right: 20px;

}
}